body{
	max-width:540px;
	min-width:320px;
	margin:0 auto;
	font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
	color: #000;
	background:#f2f2f2;
	overflow-x: hidden;
	-webkit-tap-highlight-color:transparent;
}
a{
	text-decoration: none;
	color:#222;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
.search-index{
	display: flex;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-width:320px;
	max-width:540px;
	height:44px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#f6f6f6;
	
}
.search{
	flex:1;
	width:474px;
	height:28px;
	line-height:28px;
	border:1px solid;
	border-radius: 5px;
	margin:8px 10px;
	box-shadow:0 2px 4px rgba(0,0,0,.2);
}
.search::before{
	content:"";
	display: inline-block;
	width:15px;
	height:15px;
	color: #666;
	background:url(../images/sprite.png) no-repeat -59px -279px;
	background-size:104px auto;
	margin:7px;
	vertical-align: middle;
}
.user{
	width:44px;
	height:44px;
	font-size:12px;
	text-align:center;
	color:#2eaae0;
	
}
.user::before{
	content:"";
	display:block;
	width:23px;
	height:23px;
	background:url(../images/sprite.png) no-repeat -59px -194px;
	background-size:104px auto;
	margin:4px auto 0;
}
.focus img{
	width:100%;
}

/* --局部导航栏部份 */
.local-nav{
	
	width:100%;
	height:64px;
	background-color:#fff;
	margin:3px 0 4px 0;
	border-radius: 8px;
}
.local-nav ul {
	display:flex;
}
.local-nav ul li{
	flex:1;
}
.local-nav a{
	display:flex;
	flex-direction: column;
	align-items:center;
	font-size:12px;
	
}
.local-nav .nav-icon{
	width:32px;
	height:32px;
	background-color:pink;
	margin-top:8px;
	background:url(../images/localnav_bg.png) no-repeat 0 0;
	background-size:32px auto;
}
.local-nav li:nth-child(2) .nav-icon{
	background:url(../images/localnav_bg.png) no-repeat 0 -32px;
	background-size:32px auto;
}

/* --nav 主导航栏部份 */
.nav{
	border-radius:8px;
	margin:4px 0 3px 0;
	overflow: hidden;
}
.nav-common{
	display:flex;
	height:88px;
	
}
.nav-common .nav-items{
	flex:1;
	
	display:flex;
	flex-direction: column;
	align-items:center;
}
.nav-common .nav-items:nth-child(-n+2){
	border-right:1px solid #fff;
}
.nav-common:nth-child(2){
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
.nav-common .nav-items a{
	flex:1;
	width:100%;
	text-align: center;
	line-height: 44px;
	color:#fff;
	font-size: 14px;
	text-shadow:1px 1px rgba(0,0,0,0.2);
}
.nav-common .nav-items a:nth-child(1){
	border-bottom:1px solid #fff;	
}
.nav-common .nav-items:nth-child(1) a{
	border:0;
	background:url(../images/hotel.png) no-repeat bottom center;
	background-size:121px auto;
}

.nav-common:nth-child(1){
	background:-webkit-linear-gradient(left, #fa5a55,#fa984d)
}
.nav-common:nth-child(2){
	background:-webkit-linear-gradient(left,#4b90ed ,#53bced )
}
.nav-common:nth-child(3){
	background:-webkit-linear-gradient(left,#34c2a9 ,#53bced )
}
.subnav{
	
	border-radius: 8px;
	background:#fff;
}
.subnav ul{
	display: flex;
	flex-wrap:wrap;
}

.subnav ul li{
	flex:20%;
}

.subnav li a{
	display: flex;
	flex-direction:column;
	align-items:center;
}
.subnav-icon{
	
	
	width:28px;
	height:28px;
	background:pink;
	margin-top:4px;
	background:url(../images/subnav-bg.png) no-repeat 0 0 ;
	background-size:28px auto;
}

/* --sales部分 */
.sales{
	
	background-color:#fff;
	margin-top:4px;
}
.sales .hd{
	display:flex;
	height:60px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
.sales .hd h2{
	flex:2;
	width:72px;
	height:16px;
	font-size: 0px;
	margin:20px 10px;
	background:url(../images/hot.png) no-repeat 0 -17px ;
	background-size:72px auto;
}
.sales .hd h2::after{
	content: "";
	width:72px;
	height:16px;
	font-size: 0px;
	background:url(../images/hot.png) no-repeat 0 -17px ;
	background-size:72px auto;
}

.sales .hd a{
	width:116px;
	height:28px;
	line-height:28px;
	border-radius: 16px;
	text-indent: 10px;
	color:#fff;
	background:-webkit-linear-gradient(left,#4b90ed ,#53bced );
	margin:16px 6px;
}

.sales .hd a::after{
	display:inline-block;
	content:"";
	width:6px;
	height:6px;
	border-right:2px solid #fff;
	border-top:2px solid #fff;
	transform: rotate(45deg);
	margin-left:5px;
	
}

.sales .row{
	display:flex;
}
.sales .row a{
	flex:1;
	border-bottom:1px solid #ccc;
}
.sales .row img{
	width:100%;
}
.sales .row a:nth-child(1){
	border-right:1px solid #ccc;
}

/* --footer底部部分 */
.footer{
	display: flex;
	height:60px;
	background-color:#fff;
	margin-top:8px;
}
.footer div{
	flex:1;
	display:flex;
	
	
}
.footer a{
	flex:1;
	width:100%;
	
	text-align:center;
}	
	
	
.footer a::before{
	
	display: block;
	content:"";
	
	margin:3px auto;
	
	width:32px;
	height:32px;
	
	background:url(../images/sprite.png) no-repeat -120px -308px;

}

