
#div1{height:200px;width:200px;border:1px solid;margin-top:20px;overflow:hidden; word-wrap:break-word;}

#div2{height:200px;width:200px;border:1px solid;margin-top:20px;overflow:hidden; word-wrap:break-word;}

span{color:red}